.feature-4 {
  .section-img-wrap {
    max-width: 360px;
	padding-bottom: 100px;

    @mixin breakpoint tablet {
      margin-right: 0;
    }
  }

  .section-img {
    padding-bottom: 100%;
    background-image: url("../img/ninance-img/feature-4/feature-4.png");

    @mixin breakpoint retina {
      background-image: url("../img/ninance-img/feature-4/feature-4@2x.png");
    }
  }
}

